body {
  background-color: white 
}
h1 {
  color: crimson;
  font-family: CenturyGothic;
  text-shadow: 2px 2px 2px deepskyblue;
  font-size: 2.25em;
}

p {
  color: deepskyblue;
  font-family: CenturyGothic;
  font-size: 1.25em;  
}